name: 16 Concurrency
on:
  push:
    paths: [".github/workflows/16-*"]
  workflow_dispatch: 
  pull_request:      
    paths: [".github/workflows/16-*"]
concurrency: #
  group: ${{ github.ref_name || github.ref }}
  cancel-in-progress: true
jobs:
  job:
    runs-on: ubuntu-latest
    steps:
      - run: echo "${{github.event_name}} base_ref=${{github.base_ref}} sha=${{github.sha}} flow:[head_ref=${{github.head_ref}} || run_id=${{github.run_id}}] suggested:[ref_name=${{github.ref_name}} ref=${{github.ref}}]"
      - run: echo "${{toJSON(github)}}" 
      - run: |
          echo "Start LOOP"
          a=1; while [ $a -lt 180 ]; do echo $a; a=`expr $a + 1`; sleep 1; done
          echo "DONE"
